*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  
.dark-theme{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.dark-theme {
	background: rgba(255, 255, 255, 0.897);
	color: #302b2b;
	font-size: 20px;
	padding: 3px;
	border-radius: 0.5rem;
    box-shadow: #e4331f 0px 4px 6px;
    border: 1px solid #e4331f;
}
.dark-theme:hover{
  cursor: pointer;
	/* background: rgba(255, 255, 255, 0.09); */
}
.light-theme{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.light-theme {
	background: rgba(255, 255, 255, 0.897);
	color: #e4331f;
	font-size: 20px;
	padding: 5px;
	border-radius: 0.5rem;
    box-shadow: #e4331f 0px 4px 6px;
    border: 1px solid #e4331f;
}
.light-theme:hover{
  cursor: pointer;
	/* background: rgba(255, 255, 255, 0.09); */
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.dark-container{
    background-color: rgb(0, 0, 0);
}


.light-container{
    background-color: white;
}



.card{
    width: 40%;
    height: 30%;
    margin: 100px auto 10px;
    padding: 50px 30px 50px;
}
.light-card{
    background-color: rgba(245, 222, 179, 0.726);
}
.dark-card{
    background-color: rgba(39, 39, 38, 0.726);
    /* color: white; */
}

.container .card .head{
    display: flex;
    align-items: center;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.search-box{
    width: 80%;
    margin: 12px 0 0 2px;
    padding: 8px 8px 8px 12px;
    background: white;
    font-size: 16px;

}
button{ 
    border-radius: 25px;
    width: 70px;
    height: 38px;
    background: #e4331f;
    margin-left: 5px;
    border: none;  
}
button:hover{
    cursor: pointer;
}

ul li { 
    width: 95%;
    font-size: 16px;
    /* padding: 5px 5px 5px; */
    margin: 12px 0 0 2px;
    padding: 8px 8px 8px 12px;
    background: white;
    border: 1px solid #e4331f;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
ul li span{
    /* height: 4%; */
    width: 4%;
    border-radius: 35px;
    position: absolute;
    /* background-color: rgb(18, 201, 18); */
}
.editIcon, .doneIcon{
    cursor: pointer;
    left: 80%;
}
.deleteIcon{
    left: 90%;
    cursor: pointer;
}

span{
    color:black;
}

p{
    width: 80%;
    border: none;
    outline: none;
    padding: 0;
}
.list-input{
    width: 80%;
    font-size: 16px;
    /* padding: 5px 5px 5px; */
    /* margin: 12px 0 0 2px;
    padding: 8px 8px 8px 12px; */
    background: white;
    /* border: 1px solid #e4331f; */
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
}

/* ul li.checked {
    list-style: none;
}
ul li.checked::before{
    content: '';
    background-image: url(Images/checked.png);
    background-size: cover;
    background-position: center;
} */
