*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  
.dark-theme{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.dark-theme {
	background: rgba(255, 255, 255, 0.897);
	color: #302b2b;
	font-size: 20px;
	padding: 3px;
	border-radius: 0.5rem;
    box-shadow: #e4331f 0px 4px 6px;
    border: 1px solid #e4331f;
}
.dark-theme:hover{
  cursor: pointer;
}
.light-theme{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.light-theme {
	background: rgba(255, 255, 255, 0.897);
	color: #e4331f;
	font-size: 20px;
	padding: 5px;
	border-radius: 0.5rem;
    box-shadow: #e4331f 0px 4px 6px;
    border: 1px solid #e4331f;
}
.light-theme:hover{
  cursor: pointer;
	/* background: rgba(255, 255, 255, 0.09); */
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.dark-container{
    background-color: rgb(0, 0, 0);
}


.light-container{
    background-color: white;
}


.card{
    width: 35%;
    height: 30%;
    margin: 100px auto 10px;
    padding: 50px 30px 50px 30px;
}
.light-card{
    background-color: rgba(245, 222, 179, 0.726);
}
.dark-card{
    background-color: rgba(39, 39, 38, 0.726);
    /* color: white; */
}

.container .card .head{
    display: flex;
    align-items: center;
    margin-left: 12px;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.search-box{
    width: 90%;
    margin: 12px 0 0 12px;
    padding: 8px 8px 8px 12px;
    background: white;
    font-size: 16px;
    border: 1px solid #e4331f;
}

li {
    list-style-type: none;
    /* display: flex; */
    /* align-items: center; */
    /* margin-bottom: 8px; */
    position: relative;
    width: 90%;
    margin: 12px 0 0 12px;
    padding: 8px 8px 8px 12px;
    background: white;
    font-size: 16px;
  }
  input{
    border: none;
    outline: none;

  }

  li{
    border: 1px solid #e4331f;

  }
  li i{
    position: absolute;
}

.fa-edit{
    left: 80%;
    top: 27%;
    color:#28a745;;
}
.fa-edit:hover{
    cursor: pointer;
}
.fa-trash{
    left: 90%;
    top: 27%;
    color:#dc3545;
}

.fa-trash:hover{
    cursor: pointer;
}